/*
* Importacion de las fuentes
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100&display=swap');

/*
* Formateo de las cajas
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav ul li a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*
* Header del sitio Web
*/
header{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 15%;
    margin-right: 10px;
}

.header__logo{
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
}

.nav__list{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.nav__item{
    margin: 0 8px;
}

.nav__link{
    padding: 10px;
    color: rgba(0, 0, 0, 0.933);
    font-size: 0.9rem;
    font-weight: 600;
}

.header__toggle,
.header__close{
    display: none;
}

/* 
    Body
*/

.container__body_{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(245deg, #6f7d9f 0, #0f3d6f 50%, #000041 100%);
    border-radius: 0px 0 40px 0;
    height: 685px;
    width: 75%;
}
.container__body{
    display: flex;
    justify-content: space-evenly;;
    background-color: transparent;
    height: 400px;
    position: relative;
    z-index: 5;
    bottom: 577px;
}

.container__body__section{
    color: white;
    padding-top: 45px;
}
.img_c{
    height: 464px;
    padding-top: 51px;
    padding-left: 20px;
    border-radius: 90px 0 40px 0;
}
.servicios_text_h{
    margin-bottom: 50px;
    font-size: 55px;
}

.servicios_text_p{
    font-size: 20px;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.btn_servicios{
    text-decoration: none;
    color: white;
}
.btn_servicios:hover{
    color: white;
}

/* From uiverse.io by @namecho */
.btn__servicios,
.btn__servicios::after {
    padding: 9px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    }

    .btn__servicios::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "HOVER ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
    }

    .btn__servicios:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
    0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
    }

    10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
    }

    20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
    }

    30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
    }

    40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
    }

    50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
    }

    60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
    }

    70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
    }

    80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
    }

    90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
    }

    100% {
    clip-path: var(--slice-1);
    transform: translate(0);
    }
    }

    .btn__enviar{
        height: 45px; 
        padding-left: 5px;
        padding-right: 5px;   
        margin-bottom: 20px; 
        margin-top: 10px;   
        text-transform: uppercase;
        background-color: #100cdd; 
        border-color: #1309a3; 
        border-style: solid; 
        border-radius: 10px;  
        width: 420px;   
        cursor: pointer;
    }

/* 
    Adaptacion a dispositvos moviles
*/
@media screen and ( max-width: 768px ){


    .container__body__section{
        color: white;
        padding-top: 45px;
        margin-right: 0px;
    }
    .container__body_{
        display: none;
    }

    .container__img{
        display: flex;
        justify-content: center;
    }

    .img_c{
        padding-left: 0px;
        width: 100%;
    }

    .servicios_text_p{
        font-size: 15px;
        text-align: center;
    }

    .servicios_text_h{
        text-align: center;
        font-size: 40px;
    }

    .container__body__section{
        padding-right: 0px;
    }

    .container__body{
        display: flex;
        flex-direction: column;
        padding-top: 445px;
        position: unset;
        background-image: linear-gradient(245deg, #6f7d9f 0, #0f3d6f 50%, #000041 100%);
    }

    .servicios__h1{
        font-size: 23px;
    }
    

    .nav__link{
        color: white;
    }
    
    header{
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a{
        font-size: 0.9rem;
    }

    .logo img{
        width: 30px;
        margin-right: 10px;
    }

    .header__toggle{
        display: inline;
        color: black;
        font-size: 33px;
    }
    .header__close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }

    .header__close:hover{
        background-color: #00adb5;
    }

    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #222831;
        color: #eee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
    }

    .nav__item{
        margin: 2rem 0;
    }

    .show{
        right: 0;
    }
}
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #2421da; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 5px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #291ece; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #4514cc; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button p{
  color: #fff; 
}


span{
  color: #281aeb; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #1e30cf;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #a3a5a0;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #a5a7a2;
}
