/*
* Importacion de las fuentes
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100&display=swap');

/*
* Formateo de las cajas
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav ul li a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*
* Header del sitio Web
*/
header{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 15%;
    margin-right: 10px;
}

.header__logo{
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
}

.nav__list{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.nav__item{
    margin: 0 8px;
}

.nav__link{
    padding: 10px;
    color: rgba(0, 0, 0, 0.933);
    font-size: 0.9rem;
    font-weight: 600;
}

.header__toggle,
.header__close{
    display: none;
}

/* 
    Body
*/
.container__body{
    display: flex;
    justify-content: center;
    background-color: #103e6f;
    height: 400px;
}

.container__body__section{
    color: white;
    padding-top: 45px;
    padding-right: 20px;
}
.img_c{
    height: 355px;
    padding-top: 51px;
    padding-left: 20px;
    border-radius: 90px 0 40px 0;
}
.servicios_text_h{
    margin-bottom: 1.5rem;
    font-size: 35px;
}

.servicios_text_p{
    font-size: 15px;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.btn_servicios{
    text-decoration: none;
    color: white;
}
.btn_servicios:hover{
    color: white;
}

/* From uiverse.io by @namecho */
    button,
    button::after {
    padding: 9px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    }

    button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "HOVER ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
    }

    button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
    0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
    }

    10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
    }

    20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
    }

    30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
    }

    40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
    }

    50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
    }

    60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
    }

    70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
    }

    80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
    }

    90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
    }

    100% {
    clip-path: var(--slice-1);
    transform: translate(0);
    }
    }


/* 
    Adaptacion a dispositvos moviles
*/
@media screen and ( max-width: 768px ){



    .container__img{
        display: flex;
        justify-content: center;
    }

    .img_c{
        padding-left: 0px;
        width: 100%;
    }

    .servicios_text_p{
        font-size: 15px;
        text-align: center;
    }

    .servicios_text_h{
        text-align: center;
    }

    .container__body__section{
        padding-right: 0px;
    }

    .container__body{
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }

    .servicios__h1{
        font-size: 23px;
    }
    

    .nav__link{
        color: white;
    }
    
    header{
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a{
        font-size: 0.9rem;
    }

    .logo img{
        width: 30px;
        margin-right: 10px;
    }

    .header__toggle{
        display: inline;
        color: black;
        font-size: 33px;
    }
    .header__close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }

    .header__close:hover{
        background-color: #00adb5;
    }

    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #222831;
        color: #eee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
    }

    .nav__item{
        margin: 2rem 0;
    }

    .show{
        right: 0;
    }
}